div.container-homepage {
	h1.title {
		margin-bottom: 20px;
	}
	div.single-article {
		p.article-info { // Author, date and category
			opacity: 0.5;

			span:nth-child(2), span:nth-child(3) {
				margin-left: 7px;
			}
		}
	}


}
