div.container-homepage {
	h1.title {
		margin-bottom: 20px;
	}
	div.single-article {
		div.thumbnail {
			display: block;
			height: 359px;
			padding: 0px;
			overflow: hidden;
			border-radius: 2px;
			border: none;
			background-color: #fcfcfc;
			border: 1px solid #e4e7e5;
			// box-shadow: 2px 2px 2px 1px #868686;
			position: relative;

			div.caption {
				a.article-title {
					text-decoration: none;
					color: #2C3E50;
					transition: color 150ms ease-in-out;

					&:hover {
						color: #CC6565;
						transition: color 150ms ease-in-out;
					}

					h3 {
						margin-top: 10px;
					}
				}

				// Category link in thumbnail
				span.category {
					a {
						text-decoration: none;
						color: #484b4b;
					}
				}
			}

			// Thumbnails read more button
			a.read-more-btn {
				margin-top: 15px;
				width: 100%;
				border-radius: 0px;
				border-bottom-left-radius: 2px;
				border-bottom-right-radius: 2px;
				transition: background-color 150ms, border-color 150ms;

				&:hover {
					background-color: #CC6565;
					border-color: #CC6565;
					transition: background-color 150ms, border-color 150ms;
				}
			}
		}

		// Author, date and category
		p.article-info {
			opacity: 0.5;

			// Give margin left to 2nd and 3rd child (author and category)
			span:nth-child(2), span:nth-child(3) {
				margin-left: 7px;
			}
		}
	}


}
