nav.navbar.navbar-main {
    margin-bottom: 20px;
    div.navbar-header {
        // Navbar
        a.navbar-brand {
            &:hover {
                color: white;
            }
        }
    }
    div.navbar-collapse {
        // Menu items
        li:not(.category-item) {
            transition: background-color 100ms;
            &:hover {
                background-color: #1A242F;
                transition: background-color 100ms;
                > a {
                    color: white;
                }
            }
        }
        // Navbar search
        form.search {
            margin-top: 12px;
        }
        // Navbar search button
        @media(max-width:998px) {
            button.search-btn {
                width: 100%;
            }
        }

        @media(min-width: 999px) and (max-width: 999px) {
            button.search-btn {
                position: relative;
                top: -3px;
            }
        }
    }
}
