div.container-new-article {
	form.article-form {
		background: white;
		padding: 10px;
		box-shadow: 1px 1px 5px 1px #cccbcb;

		p:not(:first-child) {
			margin-top: 15px;
		}

		input[type=text] {
			display: block;
			width: 100%;
		}
		textarea {
			display: block;
		}

		select.category {

		}

		button {
			display: block;
			margin: 0 auto;
			border: none;
			padding: 15px 0px;
			width: 100%;
			margin-top: 5px;
			background: #709c59;
			color: white;

			&:hover {
				background: #5f8849;
			}


		}
	}
}
