div.container-new-article {
	form.article-form {
		background: white;
		padding: 10px;
		box-shadow: 1px 1px 5px 1px #cccbcb;

		p:not(:first-child) {
			margin-top: 15px;
		}

		textarea {
			display: block;
		}

		select.category {
			margin-bottom: 15px;
		}
	}
}
