// GLOBAL CSS

// Required for footer
html {
  position: relative;
  min-height: 100%;
}

body {
	background: rgba(#f6f4f2, 0.6);
	/* Margin bottom for footer height - otherwise content gets covered */
	margin-bottom: 120px;
}

nav.navbar {
	margin-bottom: 0px;
}

// homepage (index.php)
@import "_homepage.scss";

// Single article page
@import "_article.scss";

// New-article admin page
@import '_new-article.scss';

// Footer template
@import '_footer.scss';

// login template
@import '_login.scss'
